@forward 'globals';
@forward 'layout';

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 20px 22px;
  width: 100%;
  background-color: var(--bg-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  sup {
    font-size: 7px;
  }

  &__links {
    display: none;
  }

  &__search {
    width: var(--unit-20);
  }

  &__burger {
    width: 26.5px;
    
  }

  .input--search {
    display: none;
  }
}

.main {
  background-color: var(--bg-white);

  &__title {
    border-bottom: 1px solid #C7C7C7;
    padding: 30px 0;
    text-align: center;
  }

  &__author {
    border-bottom: 1px solid black;
  }

  &__somali_img {
    width: 100%;
    padding: 48px 20px 28px 20px;
  }

  &__article {
    padding:0 20px;
  }

  &__line {
    display: none;
  }

  &__conclusion {
    text-align: center;
    padding:0 20px 20px;
  }


  &__related {
    background-color: var(--bg-black);
    margin-top: 76px;
    padding-bottom: var(--unit-24);
  }

  &__newsletter {
    padding: 64px 20px 88px 20px;
    text-align: center;
  }
}

.author__info {
  display: flex;
  align-items: center;
  padding: 16px 0 24px 20px;
}

.avatar {
  width: 64px;
  margin-right: var(--unit-20);
}

.author__share {
  display: flex;
  justify-content: space-around;
  padding: 0 10px 24px 10px;
}

.button_link {
  display: flex;
  align-items: center;
  border: 1px solid #cecece;
  padding: 8px 14px;

  img {
    width: var(--unit-16);
    margin-right: var(--unit-6);
  }
}

.article__title {
  padding-bottom: var(--unit-24);
}

.article__subtitle {
  padding-bottom: var(--unit-48);
}

.video {
  width: 100%;
  padding: 48px 0 24px 0;
}

.parentheses {
  width: var(--unit-28);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: var(--unit-20);
}

.related__title {
  padding: 20px;
}

.mars {
  width: 100%;
  padding: 108px 0 32px 0;
}

.related__news {
  padding: 0 var(--unit-20);
}

.full_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 48px 0;
}

.arrow {
  width: 80px;
  cursor: pointer;
}

.news__img {
  width: 100%;
  padding: var(--unit-48) 0 var(--unit-24) 0;
}

.news__subtitle {
  padding-bottom: var(--unit-48);
}

.button_see_all {
  width: 95%;
  max-width: 386px;
  padding: 16px 0;
  display: block;
  margin: 24px auto 0 auto;
}

.subscribe_button {
  width: 100%;
  max-width: 386px;
  padding: 14px 0;
  margin-bottom: var(--unit-24);
}

.input_email {
  width: 100%;
  max-width: 386px;
  margin-bottom: var(--unit-base);
  padding: var(--unit-18);
  border: 1px solid black;

  &::placeholder {
    font-size: var(--unit-18);
    font-weight: 400;
  }
}

.footer {
  background-color:#e7dfdf;
  padding: 8px 20px 24px 20px;

  &__topics {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    padding: 32px 0;

    p {
      padding-bottom: var(--unit-16);
    }

  }

  hr {
    border: none;
    border-bottom: 1px  solid black;
  }

  &__site_info {
    padding-top: var(--unit-30);
    text-align: center;
  }

img {
  width: var(--unit-28);
}

  img:not(:last-child) {
    margin-right: 28px;
  }

  &__social_media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.site_info__copyright {
  padding: 16px 0 42px;
}

.site_info__help_block {
  width: 326px;
  padding-top: 28px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__site_info>a {
  padding-top: 16px;
}
