@forward 'globals';
@forward 'layout';

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 20px 22px;
  width: 100%;
  background-color: var(--bg-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  sup {
    font-size: 7px;
  }

  &__links {
    display: none;
  }

  &__search {
    width: 20px;
  }

  &__burger {
    width: 26.5px;
    
  }

  .input--search {
    display: none;
  }
}

.main {
  background-color: var(--bg-white);

  &__title {
    border-bottom: 1px solid #C7C7C7;
    padding: 30px 0;
    text-align: center;
  }

  &__author {
    border-bottom: 1px solid black;
  }

  &__somali_img {
    width: 100%;
    padding: 48px 20px 28px 20px;
  }

  &__article {
    padding:0 20px;
  }

  &__line {
    display: none;
  }

  &__conclusion {
    text-align: center;
    padding:0 20px 20px;
  }


  &__related {
    background-color: var(--bg-black);
    margin-top: 76px;
    padding-bottom: 24px;
  }
}

.author__info {
  display: flex;
  align-items: center;
  padding: 16px 0 24px 20px;
}

.avatar {
  width: 64px;
  margin-right: 20px;
}

.author__share {
  display: flex;
  justify-content: space-around;
  padding: 0 10px 24px 10px;
}

.button_link {
  display: flex;
  align-items: center;
  border: 1px solid #cecece;
  padding: 8px 14px;

  img {
    width: 16px;
    margin-right: 6px;
  }
}

.article__title {
  padding-bottom: 24px;
}

.article__subtitle {
  padding-bottom: 48px;
}

.video {
  width: 100%;
  padding: 48px 0 24px 0;
}

.parentheses {
  width: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.related__title {
  padding: 20px;
}

.mars {
  width: 100%;
  padding: 108px 0 32px 0;
}

.related__news {
  padding: 0 20px 0 20px;
}

.full_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 48px 0;
}

.arrow {
  width: 80px;
  cursor: pointer;
}

.news__img {
  width: 100%;
  padding: 48px 0 24px 0;
}

.news__subtitle {
  padding-bottom: 48px;
}

.button_see_all {
  padding: 16px 181px;
  display: block;
  margin: 24px auto 0 auto;
}
