html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-white);
}

hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  --bg-white:hsl(0, 0%, 96%);
  --bg-black:hsl(0, 0%, 9%);
}

:root {
  --unit-base: 12px;
  --unit-6: calc(var(--unit-base) * 0.5);
  --unit-12: var(--unit-base);
  --unit-14: calc(var(--unit-base) * 1.16);
  --unit-16: calc(var(--unit-base) * 1.33);
  --unit-18: calc(var(--unit-base) * 1.5);
  --unit-20: calc(var(--unit-base) * 1.66);
  --unit-22: calc(var(--unit-base) * 1.83);
  --unit-24: calc(var(--unit-base) * 2);
  --unit-28: calc(var(--unit-base) * 2.33);
  --unit-30: calc(var(--unit-base) * 2.5);
  --unit-36: calc(var(--unit-base) * 3);
  --unit-48: calc(var(--unit-base) * 4);
  --unit-58: calc(var(--unit-base) * 4.83);
  --unit-66: calc(var(--unit-base) * 5.5);
  --unit-80: calc(var(--unit-base) * 6.6);
}

.text--muted {
  color: hsl(0deg, 0%, 40%);
}

.text--white {
  color: hsl(0deg, 0%, 100%);
}

.text--grey {
  color: hsl(0deg, 0%, 76%);
}

.text--fs14 {
  font-size: var(--unit-14);
}

.text--fs16 {
  font-size: var(--unit-16);
}

.text--fs18 {
  font-size: var(--unit-18);
}

.text--fs20 {
  font-size: var(--unit-20);
}

.text--fs22 {
  font-size: var(--unit-22);
}

.text--fs24 {
  font-size: var(--unit-24);
}

.text--fs28 {
  font-size: var(--unit-28);
}

.text--fs48 {
  font-size: var(--unit-48);
}

.text--fs66 {
  font-size: var(--unit-66);
}

.text--fw400 {
  font-weight: 400;
}

.text--fw500 {
  font-weight: 500;
}

.text--fw600 {
  font-weight: 600;
}

.text--fw700 {
  font-weight: 700;
}

.letter_spacing--xs {
  letter-spacing: -0.02em;
}

.letter_spacing--sm {
  letter-spacing: 0.1em;
}

.letter_spacing--normal {
  letter-spacing: 1px;
}

.line_height--18 {
  line-height: var(--unit-18);
}

.line_height--20 {
  line-height: var(--unit-20);
}

.line_height--22 {
  line-height: var(--unit-22);
}

.line_height--24 {
  line-height: var(--unit-24);
}

.line_height--28 {
  line-height: var(--unit-28);
}

.line_height--30 {
  line-height: var(--unit-30);
}

.line_height--36 {
  line-height: var(--unit-36);
}

.line_height--58 {
  line-height: var(--unit-58);
}

.pb--20 {
  padding-bottom: 20px;
}

.button--primary {
  cursor: pointer;
  text-align: center;
  font-family: inherit;
}

.button--white {
  background-color: var(--bg-white);
  color: black;
}

.button--black {
  background-color: var(--bg-black);
  color: white;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 20px 22px;
  width: 100%;
  background-color: var(--bg-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.header sup {
  font-size: 7px;
}
.header__links {
  display: none;
}
.header__search {
  width: var(--unit-20);
}
.header__burger {
  width: 26.5px;
}
.header .input--search {
  display: none;
}

.main {
  background-color: var(--bg-white);
}
.main__title {
  border-bottom: 1px solid #C7C7C7;
  padding: 30px 0;
  text-align: center;
}
.main__author {
  border-bottom: 1px solid black;
}
.main__somali_img {
  width: 100%;
  padding: 48px 20px 28px 20px;
}
.main__article {
  padding: 0 20px;
}
.main__line {
  display: none;
}
.main__conclusion {
  text-align: center;
  padding: 0 20px 20px;
}
.main__related {
  background-color: var(--bg-black);
  margin-top: 76px;
  padding-bottom: var(--unit-24);
}
.main__newsletter {
  padding: 64px 20px 88px 20px;
  text-align: center;
}

.author__info {
  display: flex;
  align-items: center;
  padding: 16px 0 24px 20px;
}

.avatar {
  width: 64px;
  margin-right: var(--unit-20);
}

.author__share {
  display: flex;
  justify-content: space-around;
  padding: 0 10px 24px 10px;
}

.button_link {
  display: flex;
  align-items: center;
  border: 1px solid #cecece;
  padding: 8px 14px;
}
.button_link img {
  width: var(--unit-16);
  margin-right: var(--unit-6);
}

.article__title {
  padding-bottom: var(--unit-24);
}

.article__subtitle {
  padding-bottom: var(--unit-48);
}

.video {
  width: 100%;
  padding: 48px 0 24px 0;
}

.parentheses {
  width: var(--unit-28);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: var(--unit-20);
}

.related__title {
  padding: 20px;
}

.mars {
  width: 100%;
  padding: 108px 0 32px 0;
}

.related__news {
  padding: 0 var(--unit-20);
}

.full_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 48px 0;
}

.arrow {
  width: 80px;
  cursor: pointer;
}

.news__img {
  width: 100%;
  padding: var(--unit-48) 0 var(--unit-24) 0;
}

.news__subtitle {
  padding-bottom: var(--unit-48);
}

.button_see_all {
  padding: 16px 161px;
  display: block;
  margin: var(--unit-24) auto 0 auto;
}

.subscribe_button {
  padding: 14px 150.5px;
  margin-bottom: var(--unit-24);
}

.input_email {
  width: 386px;
  margin-bottom: var(--unit-base);
  padding: var(--unit-18);
  border: 1px solid black;
}
.input_email::-moz-placeholder {
  font-size: var(--unit-18);
  font-weight: 400;
}
.input_email:-ms-input-placeholder {
  font-size: var(--unit-18);
  font-weight: 400;
}
.input_email::placeholder {
  font-size: var(--unit-18);
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */