html {
  box-sizing: border-box;
  font-size: 16px;
}
@media screen and (min-width: 760px) {
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 1480px) {
  html {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-white);
}

hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  display: block;
}

:root {
  --bg-white:hsl(0, 0%, 96%);
  --bg-black:hsl(0, 0%, 9%);
}

.text--muted {
  color: hsl(0deg, 0%, 40%);
}

.text--white {
  color: hsl(0deg, 0%, 100%);
}

.text--grey {
  color: hsl(0deg, 0%, 76%);
}

.text--fs14 {
  font-size: 0.875rem;
}

.text--fs16 {
  font-size: 1rem;
}

.text--fs18 {
  font-size: 1.125rem;
}

.text--fs20 {
  font-size: 1.25rem;
}

.text--fs22 {
  font-size: 1.375rem;
}

.text--fs24 {
  font-size: 1.5rem;
}

.text--fs28 {
  font-size: 1.75rem;
}

.text--fs48 {
  font-size: 3rem;
}

.text--fs66 {
  font-size: 4.125rem;
}

.text--fw400 {
  font-weight: 400;
}

.text--fw500 {
  font-weight: 500;
}

.text--fw600 {
  font-weight: 600;
}

.text--fw700 {
  font-weight: 700;
}

.letter_spacing--xs {
  letter-spacing: -0.02em;
}

.letter_spacing--sm {
  letter-spacing: 0.1em;
}

.letter_spacing--normal {
  letter-spacing: 1px;
}

.text--lh18 {
  line-height: 18px;
}

.text--lh20 {
  line-height: 20px;
}

.text--lh22 {
  line-height: 22px;
}

.text--lh24 {
  line-height: 24px;
}

.text--lh28 {
  line-height: 28px;
}

.text--lh30 {
  line-height: 30px;
}

.text--lh36 {
  line-height: 36px;
}

.text--lh58 {
  line-height: 58px;
}

.pb--20 {
  padding-bottom: 20px;
}

.button--primary {
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  background-color: var(--bg-white);
  color: black;
}

.button--black {
  background-color: var(--bg-black);
  color: white;
}

@media (min-width: 1480px) {
  .line--hide {
    display: none;
  }
}

.button--link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cecece;
  padding: 8px 7px;
}
@media (min-width: 480px) {
  .button--link {
    padding: 8px 14px;
  }
}
@media (min-width: 1480px) {
  .button--link {
    padding: 12px 16px;
  }
}
.button--link img {
  width: 16px;
  margin-right: 6px;
}

button:hover,
button:focus {
  background: #adb1b5;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.subscribe_button:hover,
.subscribe_button:focus {
  background: white;
  color: black;
  transition: 0.5s;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 20px 22px;
  width: 100%;
  background-color: var(--bg-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
@media (min-width: 1480px) {
  .header {
    padding: 27px 80px;
  }
}
.header sup {
  font-size: 7px;
}
.header__links {
  display: none;
}
@media (min-width: 1025px) {
  .header__links {
    display: flex;
    gap: 40px;
  }
}
@media (min-width: 1480px) {
  .header__links {
    display: flex;
    gap: 60px;
  }
}
.header__search_icon {
  width: 20px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .header__search_icon {
    display: none;
  }
}
.header__burger {
  width: 26.5px;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .header__burger {
    display: none;
  }
}
.header .input_search {
  width: 260px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 8px 0 8px 38px;
}
.header__search {
  position: relative;
  display: none;
}
.header__search::before {
  content: url(img/icon/search_sm.png);
  position: absolute;
  top: 7px;
  left: 10px;
}
@media (min-width: 1025px) {
  .header__search {
    display: unset;
  }
}

.main {
  background-color: var(--bg-white);
  max-width: 1480px;
  margin: auto;
}
.main__title {
  border-bottom: 1px solid #C7C7C7;
  padding: 30px 0;
  text-align: center;
}
@media (min-width: 1480px) {
  .main__title {
    font-size: 118px;
    line-height: 143px;
  }
}
.main__author {
  border-bottom: 1px solid black;
  padding: 16px 12px 24px 12px;
}
@media (min-width: 480px) {
  .main__author {
    padding: 16px 20px 24px 20px;
  }
}
@media (min-width: 760px) {
  .main__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1480px) {
  .main__author {
    padding: 20px 110px;
  }
}
.main__title_img {
  width: 100%;
  padding: 48px 20px 0 20px;
}
@media (min-width: 1480px) {
  .main__title_img {
    padding: 60px 80px;
    margin: 0 auto;
  }
}
.main__line {
  display: none;
}
.main__conclusion {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px 20px;
  max-width: 1030px;
}
.main__related {
  background-color: var(--bg-black);
  margin-top: 76px;
  padding-bottom: 24px;
}
@media (min-width: 1480px) {
  .main__related {
    margin-top: 116px;
  }
}
.main__newsletter {
  padding: 64px 20px 88px 20px;
  text-align: center;
}
@media (min-width: 1480px) {
  .main__newsletter {
    padding: 128px 0 93px 0;
  }
}

.teaser__img {
  width: 100%;
  padding-bottom: 28px;
}

.author__info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 64px;
  margin-right: 20px;
}

.author__share {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  padding-top: 20px;
}
@media (min-width: 760px) {
  .author__share {
    padding: 0 20px 0 0;
  }
}
@media (min-width: 1480px) {
  .author__share {
    gap: 16px;
  }
}

@media (min-width: 1480px) {
  .main__conclusion:nth-last-child(3) {
    border-bottom: 1px solid black;
    padding-bottom: 80px;
  }
}

.teaser__title {
  padding-bottom: 24px;
}

.video {
  width: 100%;
  padding: 48px 0 24px 0;
  cursor: pointer;
}
@media (min-width: 1480px) {
  .video {
    padding: 120px 130px 64px;
  }
}

.parentheses {
  width: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.related__title {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1480px) {
  .related__title {
    padding: 56px 130px 41px 130px;
  }
}
.related__title button {
  display: none;
  padding: 18px 50px;
}
@media (min-width: 1480px) {
  .related__title button {
    display: unset;
    margin: unset;
  }
}

.mars {
  width: 100%;
}
@media (min-width: 1480px) {
  .mars {
    padding: unset;
  }
}

.related__main {
  padding-top: 108px;
}
@media (min-width: 1480px) {
  .related__main {
    display: flex;
    align-items: center;
    padding: 10px 110px 30px 110px;
    gap: 60px;
  }
}

@media (min-width: 1480px) {
  .related__other {
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    padding: 0px 110px 0 110px;
  }
}

.other__news {
  padding: 32px 20px 48px 20px;
}
@media (min-width: 1480px) {
  .other__news {
    padding: 61px 40px 46px;
  }
}

.news__title {
  color: #ffffff;
}
.news__title:hover {
  cursor: pointer;
}

.full_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7px 10px 7px;
  margin-top: 22px;
  cursor: pointer;
}
.full_info:hover {
  transition: 0.2s;
  border: 1px solid white;
  border-radius: 20px;
}

.arrow {
  width: 80px;
}

.news__img {
  width: 100%;
  padding-bottom: 24px;
}

.button_see_all {
  width: 95%;
  max-width: 386px;
  padding: 16px 0;
  display: block;
  margin: 24px auto 0 auto;
}
@media (min-width: 1480px) {
  .button_see_all {
    display: none;
  }
}

.subscribe_button {
  width: 100%;
  max-width: 386px;
  padding: 15px 0;
  margin-bottom: 24px;
}
@media (min-width: 1480px) {
  .subscribe_button {
    max-width: 140px;
    padding: 14px 0;
    position: absolute;
    right: 326px;
    top: 46px;
  }
}

.input_email {
  width: 100%;
  max-width: 386px;
  margin-bottom: 12px;
  padding: 16px;
  border: 1px solid black;
}
.input_email::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
}
.input_email:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 400;
}
.input_email::placeholder {
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1480px) {
  .input_email {
    max-width: 840px;
    padding: 22px 150px 22px 22px;
  }
}

@media (min-width: 1480px) {
  .newsletter__subscription {
    position: relative;
    padding: 40px 0;
  }
}

.footer {
  background-color: #e7dfdf;
  padding: 8px 20px 24px 20px;
}
@media (min-width: 1480px) {
  .footer {
    padding: 24px 130px 37px;
  }
}
.footer__topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1700px;
  margin: 0 auto;
}
@media (min-width: 760px) {
  .footer__topics {
    grid-template-columns: 1fr 1.1fr 0.9fr;
  }
}
@media (min-width: 1480px) {
  .footer__topics {
    grid-template-columns: repeat(6, 1fr);
  }
}
.footer__topics p {
  padding-bottom: 16px;
}
.footer hr {
  border: none;
  border-bottom: 1px solid black;
}
.footer__site_info {
  padding-top: 30px;
  text-align: center;
  max-width: 1700px;
  margin: 0 auto;
}
@media (min-width: 1480px) {
  .footer__site_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: unset;
  }
}
.footer img {
  width: 28px;
}
.footer img:not(:last-child) {
  margin-right: 28px;
}
.footer__social_media {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1480px) {
  .footer__social_media {
    justify-content: end;
  }
}
.footer__social_media img {
  cursor: pointer;
}

.topics__list {
  border-bottom: 1px solid black;
  padding: 32px 0;
}

.site_info__copyright {
  padding: 16px 0 42px;
}
@media (min-width: 1480px) {
  .site_info__copyright {
    padding: 28px 0 0 0;
  }
}

.site_info__help {
  max-width: 426px;
  padding-top: 28px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 1480px) {
  .site_info__help {
    gap: 20px;
    max-width: 500px;
  }
}

.footer__site_info > a {
  padding-top: 16px;
}

a:hover,
a:focus {
  color: grey;
}

@media (min-width: 1480px) {
  .teaser > img {
    width: 478px;
    padding: unset;
  }
}

.teaser {
  display: flex;
  flex-direction: column;
  padding: 48px 0;
  margin: 0 20px;
  border-bottom: 1px solid #000000;
}
@media (min-width: 1480px) {
  .teaser {
    border: unset;
  }
}
@media (min-width: 1480px) {
  .teaser .teaser__title {
    flex-basis: 476px;
  }
}
@media (min-width: 1480px) {
  .teaser .teaser__subtitle {
    flex-basis: 578px;
  }
}
@media (min-width: 1480px) {
  .teaser {
    padding: 0 130px;
  }
}
@media (min-width: 1480px) {
  .teaser--right {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 177px;
  }
}
@media (min-width: 1480px) {
  .teaser--right .main__article {
    flex-basis: 578px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding: 105px 0;
  }
}
@media (min-width: 1480px) {
  .teaser--left {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1480px) {
  .teaser--left .main__article {
    flex-basis: 578px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding: 80px 0;
  }
}

@media (min-width: 1480px) {
  .main > .main__article {
    padding-bottom: 108px;
  }
}/*# sourceMappingURL=style.css.map */