html {
  box-sizing: border-box;
  font-size: 16px;
}
@media screen and (min-width: 760px) {
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 1480px) {
  html {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-white);
}

hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  display: block;
}

:root {
  --bg-white:hsl(0, 0%, 96%);
  --bg-black:hsl(0, 0%, 9%);
}

:root {
  --unit-base: 12px;
  --unit-6: calc(var(--unit-base) * 0.5);
  --unit-12: var(--unit-base);
  --unit-14: calc(var(--unit-base) * 1.16);
  --unit-16: calc(var(--unit-base) * 1.33);
  --unit-18: calc(var(--unit-base) * 1.5);
  --unit-20: calc(var(--unit-base) * 1.66);
  --unit-22: calc(var(--unit-base) * 1.83);
  --unit-24: calc(var(--unit-base) * 2);
  --unit-28: calc(var(--unit-base) * 2.33);
  --unit-30: calc(var(--unit-base) * 2.5);
  --unit-36: calc(var(--unit-base) * 3);
  --unit-48: calc(var(--unit-base) * 4);
  --unit-58: calc(var(--unit-base) * 4.83);
  --unit-66: calc(var(--unit-base) * 5.5);
  --unit-80: calc(var(--unit-base) * 6.6);
}

.text--muted {
  color: hsl(0deg, 0%, 40%);
}

.text--white {
  color: hsl(0deg, 0%, 100%);
}

.text--grey {
  color: hsl(0deg, 0%, 76%);
}

.text--fs14 {
  font-size: 0.875rem;
}

.text--fs16 {
  font-size: 1rem;
}

.text--fs18 {
  font-size: 1.125rem;
}

.text--fs20 {
  font-size: 1.25rem;
}

.text--fs22 {
  font-size: 1.375rem;
}

.text--fs24 {
  font-size: 1.5rem;
}

.text--fs28 {
  font-size: 1.75rem;
}

.text--fs48 {
  font-size: 3rem;
}

.text--fs66 {
  font-size: 4.125rem;
}

.text--fw400 {
  font-weight: 400;
}

.text--fw500 {
  font-weight: 500;
}

.text--fw600 {
  font-weight: 600;
}

.text--fw700 {
  font-weight: 700;
}

.letter_spacing--xs {
  letter-spacing: -0.02em;
}

.letter_spacing--sm {
  letter-spacing: 0.1em;
}

.letter_spacing--normal {
  letter-spacing: 1px;
}

.line_height--18 {
  line-height: var(--unit-18);
}

.line_height--20 {
  line-height: var(--unit-20);
}

.line_height--22 {
  line-height: var(--unit-22);
}

.line_height--24 {
  line-height: var(--unit-24);
}

.line_height--28 {
  line-height: var(--unit-28);
}

.line_height--30 {
  line-height: var(--unit-30);
}

.line_height--36 {
  line-height: var(--unit-36);
}

.line_height--58 {
  line-height: var(--unit-58);
}

.pb--20 {
  padding-bottom: 20px;
}

.button--primary {
  cursor: pointer;
  text-align: center;
  font-family: inherit;
}

.button--white {
  background-color: var(--bg-white);
  color: black;
}

.button--black {
  background-color: var(--bg-black);
  color: white;
}

@media screen and (min-width: 1480px) {
  .line--hide {
    display: none;
  }
}

button:hover,
button:focus {
  background: #adb1b5;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.subscribe_button:hover,
.subscribe_button:focus {
  background: white;
  color: black;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 22px;
  width: 100%;
  background-color: var(--bg-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
@media screen and (min-width: 1480px) {
  .header {
    padding: 27px 80px;
  }
}
.header sup {
  font-size: 7px;
}
.header__links {
  display: none;
}
@media screen and (min-width: 1480px) {
  .header__links {
    display: flex;
    gap: 60px;
  }
}
.header__search {
  width: var(--unit-20);
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .header__search {
    display: none;
  }
}
.header__burger {
  width: 26.5px;
  cursor: pointer;
}
@media screen and (min-width: 1480px) {
  .header__burger {
    display: none;
  }
}
.header .input_search {
  display: none;
  width: 260px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 8px 0 8px 38px;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .header .input_search {
    display: unset;
  }
}

.header__links > a:hover {
  color: black;
  text-decoration: line-through;
}

.input_search::before {
  content: url(../img/icon/search.png);
  position: absolute;
  top: 40px;
  left: 30px;
}

.main {
  background-color: var(--bg-white);
  max-width: 1480px;
  margin: auto;
}
.main__title {
  border-bottom: 1px solid #C7C7C7;
  padding: 30px 0;
  text-align: center;
}
@media screen and (min-width: 1480px) {
  .main__title {
    font-size: 118px;
    line-height: 143px;
  }
}
.main__author {
  border-bottom: 1px solid black;
}
@media screen and (min-width: 760px) {
  .main__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1480px) {
  .main__author {
    padding: 0px 110px;
  }
}
.main__somali_img {
  width: 100%;
  padding: 48px 20px 28px 20px;
}
.main__title_img {
  width: 100%;
  padding: 48px 20px 28px 20px;
}
@media screen and (min-width: 1480px) {
  .main__title_img {
    display: block;
    box-sizing: initial;
    max-width: 1280px;
    height: 762px;
    padding: 60px 80px;
    margin: 0 auto;
  }
}
.main__article {
  margin: 0 20px;
  border-bottom: 1px solid;
}
@media screen and (min-width: 1480px) {
  .main__article {
    border: unset;
  }
}
.main__line {
  display: none;
}
.main__conclusion {
  text-align: center;
  padding: 0 20px 20px;
}
.main__related {
  background-color: var(--bg-black);
  margin-top: 76px;
  padding-bottom: var(--unit-24);
}
.main__newsletter {
  padding: 64px 20px 88px 20px;
  text-align: center;
}
@media screen and (min-width: 1480px) {
  .main__newsletter {
    padding: 128px 0 93px 0;
  }
}

.author__info {
  display: flex;
  align-items: center;
  padding: 16px 0 24px 20px;
}

.avatar {
  width: 64px;
  margin-right: var(--unit-20);
}

.author__share {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  padding: 0 20px 24px 20px;
}
@media screen and (min-width: 760px) {
  .author__share {
    padding: 0 20px 0 0;
  }
}
@media screen and (min-width: 1480px) {
  .author__share {
    gap: 16px;
  }
}

.button_link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cecece;
  padding: 8px 14px;
}
@media screen and (min-width: 1480px) {
  .button_link {
    padding: 12px 16px;
  }
}
.button_link img {
  width: var(--unit-16);
  margin-right: var(--unit-6);
}

.article__title {
  padding-bottom: var(--unit-24);
}

.article__subtitle {
  padding-bottom: var(--unit-48);
}

.video {
  width: 100%;
  padding: 48px 0 24px 0;
  cursor: pointer;
}

.parentheses {
  width: var(--unit-28);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: var(--unit-20);
}

.related__title {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1480px) {
  .related__title {
    padding: 56px 130px 41px 130px;
  }
}
.related__title button {
  display: none;
  padding: 18px 50px;
}
@media screen and (min-width: 1480px) {
  .related__title button {
    display: unset;
    margin: unset;
  }
}

.mars {
  width: 100%;
  padding: 108px 0 32px 0;
}
@media screen and (min-width: 1480px) {
  .mars {
    padding: unset;
  }
}

@media screen and (min-width: 1480px) {
  .related__mars_block {
    display: flex;
    align-items: center;
    padding: 30px 130px 50px 130px;
    gap: 60px;
  }
}

@media screen and (min-width: 1480px) {
  .related__news_block {
    display: flex;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    padding: 12px 110px 0 110px;
  }
}

.related__news {
  padding: 0 var(--unit-20);
}
@media screen and (min-width: 1480px) {
  .related__news {
    padding: 0 40px;
  }
}

.full_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 48px 0;
}

.arrow {
  width: 80px;
  cursor: pointer;
}

.news__img {
  width: 100%;
  padding: var(--unit-48) 0 var(--unit-24) 0;
}

.news__subtitle {
  padding-bottom: var(--unit-48);
}

.button_see_all {
  width: 95%;
  max-width: 386px;
  padding: 16px 0;
  display: block;
  margin: 24px auto 0 auto;
}
@media screen and (min-width: 1480px) {
  .button_see_all {
    display: none;
  }
}

.subscribe_button {
  width: 100%;
  max-width: 386px;
  padding: 14px 0;
  margin-bottom: var(--unit-24);
}
@media screen and (min-width: 1480px) {
  .subscribe_button {
    max-width: 140px;
    padding: 10px 0;
    position: absolute;
    right: 328px;
    top: 47px;
  }
}

.input_email {
  width: 100%;
  max-width: 386px;
  margin-bottom: var(--unit-base);
  padding: var(--unit-18);
  border: 1px solid black;
}
.input_email::-moz-placeholder {
  font-size: var(--unit-18);
  font-weight: 400;
}
.input_email:-ms-input-placeholder {
  font-size: var(--unit-18);
  font-weight: 400;
}
.input_email::placeholder {
  font-size: var(--unit-18);
  font-weight: 400;
}
@media screen and (min-width: 1480px) {
  .input_email {
    max-width: 840px;
    padding: var(--unit-22);
  }
}

@media screen and (min-width: 1480px) {
  .newsletter__subscription {
    position: relative;
    padding: 40px 0;
  }
}

.footer {
  background-color: #e7dfdf;
  padding: 8px 20px 24px 20px;
}
.footer__topics {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
}
@media screen and (min-width: 760px) {
  .footer__topics {
    grid-template-columns: 1fr 1.1fr 0.9fr;
  }
}
.footer__topics p {
  padding-bottom: var(--unit-16);
}
.footer hr {
  border: none;
  border-bottom: 1px solid black;
}
.footer__site_info {
  padding-top: var(--unit-30);
  text-align: center;
}
.footer img {
  width: var(--unit-28);
}
.footer img:not(:last-child) {
  margin-right: 28px;
}
.footer__social_media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social_media img {
  cursor: pointer;
}

.topics__text_block {
  border-bottom: 1px solid black;
  padding: 32px 0;
}

.site_info__copyright {
  padding: 16px 0 42px;
}

.site_info__help_block {
  width: 326px;
  padding-top: 28px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__site_info > a {
  padding-top: 16px;
}

a:hover,
a:focus {
  color: grey;
}

a:active {
  font-size: var(--unit-16);
}/*# sourceMappingURL=style.css.map */