@use '../globals/variables';
@use '../globals/colors';
@use '../globals/' as g;

.text--muted {
  color: hsl(0, 0%, 40%);;
}

.text--white {
  color: hsl(0, 0%, 100%);
}

.text--grey {
  color: hsl(0, 0%, 76%);;
}

.text--fs14 {
  font-size: 0.875rem;
}

.text--fs16 {
  font-size: 1rem;
}

.text--fs18 {
  font-size: 1.125rem;
}

.text--fs20 {
  font-size: 1.25rem;
}

.text--fs22 {
  font-size: 1.375rem;
}

.text--fs24 {
  font-size: 1.5rem;
}

.text--fs28 {
  font-size: 1.75rem;
}

.text--fs48 {
  font-size: 3rem;
}

.text--fs66 {
  font-size: 4.125rem;
}

.text--fw400 {
  font-weight: 400;
}

.text--fw500 {
  font-weight: 500;
}

.text--fw600 {
  font-weight: 600;
}

.text--fw700 {
  font-weight: 700;
}

.letter_spacing--xs {
  letter-spacing: -0.02em;
}

.letter_spacing--sm {
  letter-spacing: 0.1em;
}

.letter_spacing--normal {
  letter-spacing: 1px;
}

.text--lh18 {
  line-height: var(--unit-18);
}

.text--lh20 {
  line-height: var(--unit-20);
}

.text--lh22 {
  line-height: var(--unit-22);
}

.text--lh24 {
  line-height: var(--unit-24);
}

.text--lh28 {
  line-height: var(--unit-28);
}

.text--lh30 {
  line-height: var(--unit-30);
}

.text--lh36 {
  line-height: var(--unit-36);
}

.text--lh58 {
  line-height: var(--unit-58);
}

.pb--20 {
  padding-bottom: 20px;
}

.button--primary {
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  background-color: var(--bg-white);
  color: black;
}

.button--black {
  background-color: var(--bg-black);
  color: white;
}

.line--hide {
  @include g.media1480 {
    display: none;
  }
}

.button--link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cecece;
  padding: 8px 7px;

  @include g.media480 {
    padding: 8px 14px;
  }

  @include g.media1480 {
    padding: 12px 16px;
  }

  img {
    width: var(--unit-16);
    margin-right: var(--unit-6);
  }
}

