@use '../globals/variables';
@use '../globals/colors';

.text--muted {
  color: hsl(0, 0%, 40%);;
}

.text--white {
  color: hsl(0, 0%, 100%);
}

.text--grey {
  color: hsl(0, 0%, 76%);;
}

.text--fs14 {
  font-size: 0.875rem;
}

.text--fs16 {
  font-size: 1rem;
}

.text--fs18 {
  font-size: 1.125rem;
}

.text--fs20 {
  font-size: 1.25rem;
}

.text--fs22 {
  font-size: 1.375rem;
}

.text--fs24 {
  font-size: 1.5rem;
}

.text--fs28 {
  font-size: 1.75rem;
}

.text--fs48 {
  font-size: 3rem;
}

.text--fs66 {
  font-size: 4.125rem;
}

.text--fw400 {
  font-weight: 400;
}

.text--fw500 {
  font-weight: 500;
}

.text--fw600 {
  font-weight: 600;
}

.text--fw700 {
  font-weight: 700;
}

.letter_spacing--xs {
  letter-spacing: -0.02em;
}

.letter_spacing--sm {
  letter-spacing: 0.1em;
}

.letter_spacing--normal {
  letter-spacing: 1px;
}

.line_height--18 {
  line-height: var(--unit-18);
}

.line_height--20 {
  line-height: var(--unit-20);
}

.line_height--22 {
  line-height: var(--unit-22);
}

.line_height--24 {
  line-height: var(--unit-24);
}

.line_height--28 {
  line-height: var(--unit-28);
}

.line_height--30 {
  line-height: var(--unit-30);
}

.line_height--36 {
  line-height: var(--unit-36);
}

.line_height--58 {
  line-height: var(--unit-58);
}

.pb--20 {
  padding-bottom: 20px;
}

.button--primary {
  cursor: pointer;
  text-align: center;
  font-family: inherit;
}

.button--white {
  background-color: var(--bg-white);
  color: black;
}

.button--black {
  background-color: var(--bg-black);
  color: white;
}

.line--hide {
  @media screen and (min-width: 1480px) {
    display: none;
  }
}

