@use '../util' as u;
@use '_colors.scss' as g;

html {
  box-sizing: border-box;
  font-size: 16px;

  @media screen and (min-width: 760px) {
    font-size: 17px;
  }

  @media screen and (min-width: 1480px) {
    font-size: 18px;
  }

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: g.$bg-white;
}

hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
a:visited,
a:active {
text-decoration: none;
color: g.$bg-black;
display: block;
}